.table-container {
    width: 80%;
    margin: 20px auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgb(245, 245, 245);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #007bff;
    color: #0cc2de;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #027ce6;
  }
  
  .table tbody tr:hover {
    background-color: #f40404;
    transition: background-color 0.3s ease;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #fbfeff;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #058d25;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #500ce3;
  }
  